Repository hsuehic/okx-node: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

chore: update workflows
  .github/workflows/build.yml
  .github/workflows/lint.yml
  .github/workflows/test.yml
  .nvmrc
Due: none

chore: fix lint issue
  .eslintrc.cjs
  scripts/add-package.mts
  scripts/package-template/src/index.ts
  scripts/package-template/src/mypackage.ts
  src/index.ts
  src/mypackage.ts
  tsconfig.eslint.json
  tsconfig.json
Due: eslint --cache --cache-location .eslintcache --fix

feat: okx websock client
  .env
  .gitignore
  .vscode/launch.json
  package.json
  pnpm-lock.yaml
  src/client.ts
  src/constant.ts
  src/global.d.ts
  src/index.ts
  src/mypackage.ts
  src/test.ts
  tsconfig.eslint.json
  tsconfig.json
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint

feat: set up ui
  .husky/pre-commit
  package.json
  packages/okx-client/LICENSE
  packages/okx-client/README.md
  packages/okx-client/jest.config.js
  packages/okx-client/package.json
  packages/okx-client/renderer/renderer.ts
  packages/okx-client/src/global.d.ts
  packages/okx-client/src/index.ts
  packages/okx-client/src/main.ts
  packages/okx-client/src/preload.ts
  packages/okx-client/tsconfig.cjs.json
  packages/okx-client/tsconfig.json
  packages/okx-client/tsconfig.mjs.json
  packages/okx-client/web/index.html
  pnpm-lock.yaml
  scripts/add-package.mts
  src/account.ts
  src/client.ts
  src/index.ts
  src/instanse.ts
  src/market.ts
  src/order.ts
  test/index.spec.ts
  tsconfig.eslint.json
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

fix: re-reconnect and re-subscribe channels when no data received for 3 heartbeat cycle
  packages/okx-app/src/preload.ts
  src/websocket/ws-client.ts
Due: eslint --cache --cache-location .eslintcache --fix

docs: update cases
  README.md
Due: markdownlint-cli2 --fix, prettier --write

docs: added code examples
  README.md
Due: markdownlint-cli2 --fix, prettier --write

fix: avoid modifying the same file at the same time crosse processes
  scripts/add-package.mts
Due: none

chore: update debug configuration
  .vscode/launch.json
  pnpm-lock.yaml
Due: none

feat: trade
  packages/okx-app/src/election.d.ts
  packages/okx-app/src/renderer/component/market/instrument.tsx
  packages/okx-app/src/renderer/component/order/history.tsx
  packages/okx-app/src/renderer/component/order/order-form.tsx
  packages/okx-app/src/renderer/component/order/pending.tsx
  packages/okx-app/src/renderer/component/route.tsx
  packages/okx-app/src/renderer/component/trade/high-frequency-trade.module.scss
  packages/okx-app/src/renderer/component/trade/high-frequency-trade.tsx
  packages/okx-app/src/renderer/component/trade/high-frequency.ts
  packages/okx-app/src/renderer/component/trade/index.ts
  packages/okx-app/src/renderer/component/trade/trade.tsx
  packages/okx-master/LICENSE
  packages/okx-master/README.md
  packages/okx-master/jest.config.js
  packages/okx-master/package.json
  packages/okx-master/src/index.ts
  packages/okx-master/src/inst.d.ts
  packages/okx-master/src/master.ts
  packages/okx-master/src/spread.ts
  packages/okx-master/tsconfig.cjs.json
  packages/okx-master/tsconfig.json
  packages/okx-master/tsconfig.mjs.json
  pnpm-lock.yaml
  src/websocket/order.ts
  src/websocket/type/request.ts
  src/websocket/ws-client.ts
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

fix: subscribe and unsubscribe logics
  packages/okx-app/src/renderer/component/market/instrument.tsx
  packages/okx-app/vite.preload.config.ts
  src/websocket/ws-client.ts
Due: eslint --cache --cache-location .eslintcache --fix

fix: avoid re-init echarts
  packages/okx-app/src/renderer/component/chart/chart.tsx
Due: eslint --cache --cache-location .eslintcache --fix

fix: ui issues
  packages/okx-app/src/renderer/component/App.scss
  packages/okx-app/src/renderer/component/order/history.tsx
  packages/okx-app/src/renderer/component/trade/high-frequency-trade.module.scss
Due: eslint --cache --cache-location .eslintcache --fix

feat: web server
  packages/okx-master/package.json
  packages/okx-master/src/DiffTrader.ts
  packages/okx-master/src/PriceTrader.ts
  packages/okx-master/src/Trader.ts
  packages/okx-master/src/TraderMaster.ts
  packages/okx-master/src/client.ts
  packages/okx-master/src/index.ts
  packages/okx-master/src/inst.d.ts
  packages/okx-master/src/master.ts
  packages/okx-master/src/server.ts
  packages/okx-master/src/spread.ts
  packages/okx-master/tsconfig.json
  pnpm-lock.yaml
  src/instanse.ts
  src/websocket/ws-client.ts
  tsconfig.json
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint

feat: init master
  .vscode/launch.json
  packages/okx-app/src/renderer/component/trade/high-frequency.ts
  packages/okx-master/package.json
  packages/okx-master/src/TraderMaster.ts
  packages/okx-master/src/client.ts
  packages/okx-master/src/client/app.tsx
  packages/okx-master/src/index.ts
  packages/okx-master/src/inst.d.ts
  packages/okx-master/src/server.ts
  packages/okx-master/src/server/DiffTrader.ts
  packages/okx-master/src/server/PriceTrader.ts
  packages/okx-master/src/server/Trader.ts
  packages/okx-master/src/server/TraderMaster.ts
  packages/okx-master/src/server/client.ts
  packages/okx-master/src/server/constant.ts
  packages/okx-master/src/server/index.ts
  packages/okx-master/src/server/inst.d.ts
  packages/okx-master/src/server/master.ts
  packages/okx-master/src/server/middleware/auth.ts
  packages/okx-master/src/server/router/index.ts
  packages/okx-master/src/server/router/trader.ts
  packages/okx-master/src/server/server.ts
  pnpm-lock.yaml
  src/websocket/index.ts
  src/websocket/ws-util.ts
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint

feat(okx-app): update order book
  packages/okx-app/src/renderer/component/market/order-book.tsx
  packages/okx-app/src/renderer/component/order/order-book.module.scss
  packages/okx-app/src/renderer/component/order/order-book.tsx
Due: eslint --cache --cache-location .eslintcache --fix

feat: remove oauth secrets
  packages/okx-app/src/renderer/component/App.tsx
  packages/okx-app/src/renderer/component/account/currency-list.tsx
  packages/okx-app/src/renderer/component/market/order-book.tsx
  packages/okx-app/src/renderer/component/route.tsx
  packages/okx-app/src/renderer/component/router.tsx
  packages/okx-app/src/renderer/component/routes.tsx
  packages/okx-app/vite.renderer.config.ts
  packages/okx-master/package.json
  packages/okx-master/src/client/app.tsx
  packages/okx-master/src/server/constant.ts
  packages/okx-master/tsconfig.json
  packages/okx-master/vite.config.ts
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint

feat: support multiple traders
  packages/okx-app/src/preload.ts
  packages/okx-app/src/renderer/component/trade/high-frequency-trade.module.scss
  packages/okx-app/src/renderer/component/trade/high-frequency-trade.tsx
  packages/okx-app/src/renderer/component/trade/high-frequency.ts
  packages/okx-app/src/renderer/component/trade/trader-detail.module.scss
  packages/okx-app/src/renderer/component/trade/trader-detail.tsx
  packages/okx-app/src/renderer/component/trade/trader-form.tsx
  packages/okx-app/src/renderer/component/trade/trader-manager.ts
Due: eslint --cache --cache-location .eslintcache --fix

feat: persist traders, orders locally
  .DS_Store
  packages/.DS_Store
  packages/okx-app/package.json
  packages/okx-app/src/election.d.ts
  packages/okx-app/src/preload.ts
  packages/okx-app/src/renderer/component/formatter.ts
  packages/okx-app/src/renderer/component/renderer.tsx
  packages/okx-app/src/renderer/component/trade/high-frequency-trade.tsx
  packages/okx-app/src/renderer/component/trade/high-frequency.ts
  packages/okx-app/src/renderer/component/trade/trader-detail.tsx
  packages/okx-app/src/renderer/component/trade/trader-form.tsx
  packages/okx-app/tsconfig.json
  packages/okx-persist/LICENSE
  packages/okx-persist/README.md
  packages/okx-persist/database/okx.db
  packages/okx-persist/jest.config.js
  packages/okx-persist/package.json
  packages/okx-persist/src/datasource.ts
  packages/okx-persist/src/entity/index.ts
  packages/okx-persist/src/entity/order.ts
  packages/okx-persist/src/entity/trader.ts
  packages/okx-persist/src/index.ts
  packages/okx-persist/test/index.spec.ts
  packages/okx-persist/tsconfig.cjs.json
  packages/okx-persist/tsconfig.json
  packages/okx-persist/tsconfig.mjs.json
  pnpm-lock.yaml
  src/websocket/order.ts
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

chore: update settings
  .npmrc
  package.json
  packages/okx-app/.npmrc
  packages/okx-app/package.json
  packages/okx-master/package.json
  packages/okx-persist/package.json
  pnpm-lock.yaml
Due: npmPkgJsonLint

refactor: to support both node and browser
  package.json
  packages/sign-message/LICENSE
  packages/sign-message/README.md
  packages/sign-message/jest.config.js
  packages/sign-message/package.json
  packages/sign-message/src/browser.ts
  packages/sign-message/src/node.ts
  packages/sign-message/tsconfig.cjs.json
  packages/sign-message/tsconfig.json
  packages/sign-message/tsconfig.mjs.json
  pnpm-lock.yaml
  src/index.ts
  src/rest/util/rest-client-base.ts
  src/websocket/ws-client.ts
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

feat: made login to WebSocket optional
  src/instanse.ts
  src/websocket/account.ts
  src/websocket/market.ts
  src/websocket/order.ts
  src/websocket/ws-client.ts
Due: eslint --cache --cache-location .eslintcache --fix

fix: typing
  packages/okx-master/src/client/component/util.ts
Due: eslint --cache --cache-location .eslintcache --fix

refactor: support both node and browser
  packages/okx-master/src/client/component/account/balance.tsx
  packages/okx-master/src/client/component/account/currency-list.tsx
  packages/okx-master/src/client/component/account/position-list.tsx
  packages/okx-master/src/client/component/chart/chart.tsx
  packages/okx-master/src/client/component/market/last-trades.tsx
  packages/okx-master/src/client/component/market/order-book.tsx
  packages/okx-master/src/client/component/order/last-trades.tsx
  packages/okx-master/src/election.d.ts
  packages/okx-master/src/global.d.ts
Due: eslint --cache --cache-location .eslintcache --fix

refactor: support browser and node
  README.md
  packages/okx-master/package.json
  packages/okx-master/src/client/app.tsx
  packages/okx-master/src/client/component/chart/chart.tsx
  packages/okx-master/src/client/component/hooks/websock.ts
  packages/okx-master/src/client/component/market/last-trades.tsx
  packages/okx-master/src/client/component/market/order-book.tsx
  packages/okx-master/src/global.d.ts
  packages/okx-master/src/server/PriceTrader.ts
  packages/okx-master/src/server/client.ts
  packages/okx-master/src/server/clients.ts
  packages/okx-master/src/server/node.d.ts
  packages/okx-master/vite.config.ts
  packages/sign-message/package.json
  packages/sign-message/src/browser.ts
  packages/sign-message/src/node.ts
  pnpm-lock.yaml
  src/websocket/order.ts
  src/websocket/ws-client.ts
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

refactor: support browser
  packages/okx-master/src/client/app.tsx
  packages/okx-master/tsconfig.json
  packages/sign-message/src/browser.ts
Due: eslint --cache --cache-location .eslintcache --fix

feat: make login optional
  src/websocket/ws-client.ts
Due: eslint --cache --cache-location .eslintcache --fix

feat: authentication
  packages/okx-master/package.json
  packages/okx-master/script/start.ts
  packages/okx-master/src/client/app.tsx
  packages/okx-master/src/client/component/account/config.tsx
  packages/okx-master/src/client/component/router.tsx
  packages/okx-master/src/client/component/routes.tsx
  packages/okx-master/src/server/app.ts
  packages/okx-master/src/server/index.ts
  packages/okx-master/src/server/master.ts
  packages/okx-master/src/server/middleware/auth.ts
  packages/okx-master/src/server/middleware/index.ts
  packages/okx-master/src/server/model/index.ts
  packages/okx-master/src/server/model/order.ts
  packages/okx-master/src/server/model/trader.ts
  packages/okx-master/src/server/model/user.ts
  packages/okx-master/src/server/passport.ts
  packages/okx-master/src/server/router/account.ts
  packages/okx-master/src/server/router/index.ts
  packages/okx-master/src/server/router/login.ts
  packages/okx-master/src/server/server.ts
  packages/okx-master/src/server/services/datasource.ts
  packages/okx-master/src/server/services/index.ts
  packages/okx-master/tsconfig.json
  pnpm-lock.yaml
  src/websocket/account.ts
  src/websocket/ws-client.ts
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint

feat: authentication
  packages/okx-master/database/okx.db
  packages/okx-master/nodemon.json
  packages/okx-master/package.json
  packages/okx-master/script/initialize.ts
  packages/okx-master/script/start.ts
  packages/okx-master/src/client/component/login/index.ts
  packages/okx-master/src/client/component/login/login.tsx
  packages/okx-master/src/client/component/routes.tsx
  packages/okx-master/src/server/app.ts
  packages/okx-master/src/server/middleware/auth.ts
  packages/okx-master/src/server/middleware/browser-router.ts
  packages/okx-master/src/server/middleware/index.ts
  packages/okx-master/src/server/model/user.ts
  packages/okx-master/src/server/passport.ts
  packages/okx-master/src/server/router/index.ts
  packages/okx-master/src/server/router/login.ts
  packages/okx-master/src/server/server.ts
  packages/okx-persist/database/db.db
  packages/okx-persist/database/okx.db
  packages/okx-persist/src/entity/trader.ts
  packages/okx-persist/src/index.ts
  packages/okx-persist/test/index.spec.ts
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint

feat: account and orders
  packages/okx-master/src/client/app.tsx
  packages/okx-master/src/client/component/account/balance.tsx
  packages/okx-master/src/client/component/account/currency-list.tsx
  packages/okx-master/src/client/component/account/position-list.tsx
  packages/okx-master/src/client/component/api/account.ts
  packages/okx-master/src/client/component/api/order.ts
  packages/okx-master/src/client/component/api/request.ts
  packages/okx-master/src/client/component/order/history.tsx
  packages/okx-master/src/client/component/order/order-form.tsx
  packages/okx-master/src/client/component/order/pending.tsx
  packages/okx-master/src/server/app.ts
  packages/okx-master/src/server/router/account.ts
  packages/okx-master/src/server/router/index.ts
  packages/okx-master/src/server/router/order.ts
  packages/okx-master/src/server/router/util.ts
  src/rest/type/response/private-account.ts
Due: eslint --cache --cache-location .eslintcache --fix

feat: authentication
  packages/okx-master/package.json
  packages/okx-master/script/start.ts
  packages/okx-master/src/client/component/App.tsx
  packages/okx-master/src/client/component/api/login.ts
  packages/okx-master/src/client/component/api/request.ts
  packages/okx-master/src/client/component/login/login.tsx
  packages/okx-master/src/server/app.ts
  packages/okx-master/src/server/middleware/auth.ts
  packages/okx-master/src/server/node.d.ts
  packages/okx-master/src/server/router/login.ts
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint

feat: trader management
  packages/okx-master/database/okx.db
  packages/okx-master/src/client/component/api/account.ts
  packages/okx-master/src/client/component/api/order.ts
  packages/okx-master/src/client/component/api/request.ts
  packages/okx-master/src/client/component/api/trader.ts
  packages/okx-master/src/client/component/hooks/rest.ts
  packages/okx-master/src/client/component/login/login.tsx
  packages/okx-master/src/client/component/routes.tsx
  packages/okx-master/src/client/component/trade/high-frequency-trade.tsx
  packages/okx-master/src/client/component/trade/high-frequency.ts
  packages/okx-master/src/client/component/trade/index.ts
  packages/okx-master/src/client/component/trade/trader-detail.tsx
  packages/okx-master/src/client/component/trade/trader-form.tsx
  packages/okx-master/src/client/component/trade/trader-manager.ts
  packages/okx-master/src/server/DiffTrader.ts
  packages/okx-master/src/server/PriceTrader.ts
  packages/okx-master/src/server/Trader.ts
  packages/okx-master/src/server/TraderMaster.ts
  packages/okx-master/src/server/app.ts
  packages/okx-master/src/server/clients.ts
  packages/okx-master/src/server/inst.d.ts
  packages/okx-master/src/server/model/trader.ts
  packages/okx-master/src/server/router/trader.ts
  packages/okx-master/src/trader.d.ts
  packages/okx-master/src/type.ts
  packages/sign-message/src/node.ts
Due: eslint --cache --cache-location .eslintcache --fix

feat: support set initial order side
  packages/okx-master/src/client/component/trade/trader-form.tsx
  packages/okx-master/src/server/PriceTrader.ts
  packages/okx-master/src/trader.d.ts
Due: eslint --cache --cache-location .eslintcache --fix

feat: persist traders
  packages/okx-master/database/okx.db
  packages/okx-master/src/server/TraderMaster.ts
  packages/okx-master/src/server/TraderPersister.ts
  packages/okx-master/src/server/instance.ts
  packages/okx-master/src/server/model/trader.ts
  packages/okx-master/src/server/router/trader.ts
Due: eslint --cache --cache-location .eslintcache --fix

fix: authentication required pathnames
  packages/okx-master/database/okx.db
  packages/okx-master/package.json
  packages/okx-master/src/server/global.d.ts
  packages/okx-master/src/server/middleware/auth.ts
  packages/okx-master/src/server/middleware/browser-router.ts
  packages/okx-master/src/server/trader.d.ts
  packages/okx-master/src/server/type.ts
  packages/okx-master/tsconfig.cjs.json
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint

refactor: rename package
  CHANGELOG.md
  package.json
  packages/okx-master/CHANGELOG.md
  packages/okx-master/package.json
  packages/okx-persist/package.json
  packages/okx-sign/CHANGELOG.md
  packages/okx-sign/LICENSE
  packages/okx-sign/README.md
  packages/okx-sign/jest.config.js
  packages/okx-sign/package.json
  packages/okx-sign/src/browser.ts
  packages/okx-sign/src/node.ts
  packages/okx-sign/tsconfig.cjs.json
  packages/okx-sign/tsconfig.json
  packages/okx-sign/tsconfig.mjs.json
  pnpm-lock.yaml
  src/rest/util/rest-client-base.ts
  src/websocket/order.ts
  src/websocket/ws-client.ts
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

Path conditions:
  eslint --cache --cache-location .eslintcache --fix: any of: *.{js,ts,jsx,tsx}
  npmPkgJsonLint: any of: package.json
  markdownlint-cli2 --fix: any of: *.md
  prettier --write: any of: *.md
