Repository hsuehic/okx-node: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,ts,jsx,tsx}": "eslint --cache --cache-location .eslintcache --fix",
  "package.json": "npmPkgJsonLint",
  "*.md": ["markdownlint-cli2 --fix", "prettier --write"]
}

chore: set docker
  .dockerignore
  .vscode/launch.json
  .vscode/tasks.json
  Dockerfile
  docker-compose.yml
  package.json
  packages/okx-master/README.md
  packages/okx-master/package.json
  packages/okx-master/src/server/server.ts
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

chore: docker compose cmd
  README.md
  package.json
Due: npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

refactor: price calculator logic
  packages/okx-master/database/okx.db
  packages/okx-master/src/client/component/trade/trader-detail.tsx
  packages/okx-master/src/server/PriceTrader.ts
Due: eslint --cache --cache-location .eslintcache --fix

chore: update contianer port to 80
  Dockerfile
  packages/okx-master/src/server/initialize.ts
  packages/okx-master/src/server/server.ts
Due: eslint --cache --cache-location .eslintcache --fix

fix: current trader tab
  packages/okx-master/src/client/component/api/trader.ts
  packages/okx-master/src/client/component/trade/high-frequency-trade.tsx
Due: eslint --cache --cache-location .eslintcache --fix

fix: place order logic
  packages/okx-master/src/server/PriceTrader.ts
Due: eslint --cache --cache-location .eslintcache --fix

fix: current trader
  packages/okx-master/database/okx.db
  packages/okx-master/src/client/component/login/login.tsx
  packages/okx-master/src/client/component/trade/high-frequency-trade.tsx
  packages/okx-master/src/server/router/login.ts
Due: eslint --cache --cache-location .eslintcache --fix

chore: update docker build sequence
  Dockerfile
Due: none

feat: added tiered trader
  .eslintrc.cjs
  packages/okx-master/.eslintrc.js
  packages/okx-master/database/okx.db
  packages/okx-master/src/client/component/routes.tsx
  packages/okx-master/src/client/component/trade/index.ts
  packages/okx-master/src/client/component/trade/price-trader-form.tsx
  packages/okx-master/src/client/component/trade/tiered-trader-form.tsx
  packages/okx-master/src/client/component/trade/trader-detail.tsx
  packages/okx-master/src/client/component/trade/trader-manager.module.scss
  packages/okx-master/src/client/component/trade/trader-manager.tsx
  packages/okx-master/src/server/BaseTrader.ts
  packages/okx-master/src/server/DiffTrader.ts
  packages/okx-master/src/server/TieredTrader.ts
  packages/okx-master/src/server/Trader.ts
  packages/okx-master/src/server/TraderMaster.ts
  packages/okx-master/src/server/inst.d.ts
  packages/okx-master/src/server/router/trader.ts
  packages/okx-master/src/server/trader.d.ts
  packages/okx-master/src/server/type.ts
  scripts/test.ts
Due: eslint --cache --cache-location .eslintcache --fix

feat: persist statistics of traders
  packages/okx-master/database/okx.db
  packages/okx-master/src/server/BaseTrader.ts
  packages/okx-master/src/server/TieredTrader.ts
  packages/okx-master/src/server/Trader.ts
  packages/okx-master/src/server/TraderPersister.ts
  packages/okx-master/src/server/model/trader.ts
Due: eslint --cache --cache-location .eslintcache --fix

fix: typo
  packages/okx-master/src/server/router/trader.ts
Due: eslint --cache --cache-location .eslintcache --fix

feat: added google oauth2
  packages/okx-master/.eslintrc.js
  packages/okx-master/database/okx.db
  packages/okx-master/package.json
  packages/okx-master/src/client/component/login/login.module.scss
  packages/okx-master/src/client/component/login/login.tsx
  packages/okx-master/src/server/app.ts
  packages/okx-master/src/server/constant.ts
  packages/okx-master/src/server/model/trader.ts
  packages/okx-master/src/server/node.d.ts
  packages/okx-master/src/server/router/login.ts
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint

feat: update host name
  packages/okx-master/src/server/constant.ts
Due: eslint --cache --cache-location .eslintcache --fix

Create an auto-deploy file
  .github/workflows/okx-master-app-AutoDeployTrigger-a97c44b9-2b80-4dca-802b-2e1ac0dea6b3.yml
Due: none

Unlink the containerApp okx-master-app from this repo
  .github/workflows/okx-master-app-AutoDeployTrigger-a97c44b9-2b80-4dca-802b-2e1ac0dea6b3.yml
Due: none

Create an auto-deploy file
  .github/workflows/okx-master-app-AutoDeployTrigger-490b79e5-1db3-4968-ab86-12a5aff89268.yml
Due: none

fix: typo
  packages/okx-master/src/client/component/trade/trader-detail.tsx
  packages/okx-master/src/server/type.ts
Due: eslint --cache --cache-location .eslintcache --fix

feat: added github oauth2 login
  packages/okx-master/package.json
  packages/okx-master/src/client/component/login/login.tsx
  packages/okx-master/src/server/node.d.ts
  packages/okx-master/src/server/router/login.ts
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint

chore: enable gzip
  packages/okx-master/package.json
  packages/okx-master/src/server/app.ts
  packages/okx-master/vite.config.ts
  pnpm-lock.yaml
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint

chore: cd pipeline for azure
  .github/workflows/deploy.yml
  packages/okx-master/src/server/node.d.ts
  packages/okx-master/src/server/router/login.ts
Due: eslint --cache --cache-location .eslintcache --fix

fix: google oauth retrieve email
  packages/okx-master/database/okx.db
  packages/okx-master/src/server/router/login.ts
Due: eslint --cache --cache-location .eslintcache --fix

chore: fix pipelines
  .github/workflows/release.yml
  .github/workflows/test.yml
  Dockerfile
  packages/okx-master/src/client/component/market/instrument.tsx
Due: eslint --cache --cache-location .eslintcache --fix

chore: update pipelines
  .github/workflows/release.yml
  .github/workflows/test.yml
  README.md
  packages/okx-node/README.md
Due: markdownlint-cli2 --fix, prettier --write

chore: fix pipeline
  .github/workflows/release.yml
Due: none

chore: update pipeline settings
  .github/workflows/build.yml
  .github/workflows/deploy.yml
  .github/workflows/release.yml
Due: none

chore: update pipeline
  .github/workflows/release.yml
  README.md
Due: markdownlint-cli2 --fix, prettier --write

chore: update pipeline
  .github/workflows/deploy.yml
Due: none

docs: update badges
  README.md
Due: markdownlint-cli2 --fix, prettier --write

feat: support swap trader
  packages/okx-master/database/okx.db
  packages/okx-master/src/client/component/App.tsx
  packages/okx-master/src/client/component/account/position-list.tsx
  packages/okx-master/src/client/component/api/account.ts
  packages/okx-master/src/client/component/common/inst-page-title.tsx
  packages/okx-master/src/client/component/common/inst-selector.tsx
  packages/okx-master/src/client/component/constant.ts
  packages/okx-master/src/client/component/hooks/websock.ts
  packages/okx-master/src/client/component/market/instrument.tsx
  packages/okx-master/src/client/component/order/history.tsx
  packages/okx-master/src/client/component/order/order-form.tsx
  packages/okx-master/src/client/component/order/pending.tsx
  packages/okx-master/src/client/component/routes.tsx
  packages/okx-master/src/client/component/trade/index.ts
  packages/okx-master/src/client/component/trade/swap-trader-detail.module.scss
  packages/okx-master/src/client/component/trade/swap-trader-detail.tsx
  packages/okx-master/src/client/component/trade/swap-trader-form.tsx
  packages/okx-master/src/client/component/trade/swap-trader-manager.module.scss
  packages/okx-master/src/client/component/trade/swap-trader-manager.tsx
  packages/okx-master/src/server/SwapTrader.ts
  packages/okx-master/src/server/TraderMaster.ts
  packages/okx-master/src/server/clients.ts
  packages/okx-master/src/server/global.d.ts
  packages/okx-master/src/server/router/account.ts
  packages/okx-master/src/server/router/login.ts
  scripts/test.ts
Due: eslint --cache --cache-location .eslintcache --fix

feat: manually enable or disable persist
  packages/okx-master/src/server/TraderPersister.ts
Due: eslint --cache --cache-location .eslintcache --fix

feat: update size validation logic
  packages/okx-master/src/server/SwapTrader.ts
  packages/okx-master/src/server/TieredTrader.ts
Due: eslint --cache --cache-location .eslintcache --fix

chore: set up pipeline for create and push image to docker hub
  .github/workflows/image.yml
Due: none

chore: gitignore
  .gitignore
  packages/.DS_Store
Due: none

feat: support LINK FIL
  packages/okx-master/src/client/component/constant.ts
  packages/okx-master/src/server/global.d.ts
Due: eslint --cache --cache-location .eslintcache --fix

feat: added property-value package
  packages/property-value/LICENSE
  packages/property-value/README.md
  packages/property-value/jest.config.js
  packages/property-value/package.json
  packages/property-value/src/index.ts
  packages/property-value/src/propertyvalue.ts
  packages/property-value/test/index.spec.ts
  packages/property-value/tsconfig.cjs.json
  packages/property-value/tsconfig.json
  packages/property-value/tsconfig.mjs.json
Due: eslint --cache --cache-location .eslintcache --fix, npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

feat: prevent illegal calling
  packages/property-value/src/propertyvalue.ts
Due: eslint --cache --cache-location .eslintcache --fix

chore: versioning
  packages/property-value/package.json
Due: npmPkgJsonLint

chore: update meta
  packages/property-value/CHANGELOG.md
  packages/property-value/package.json
Due: npmPkgJsonLint, markdownlint-cli2 --fix, prettier --write

refactor: use built-in utility type
  packages/property-value/src/propertyvalue.ts
Due: eslint --cache --cache-location .eslintcache --fix
